@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background-color 0.15s ease;transition:background-color 0.15s ease}html,body{font-size:14px;font-family:"Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;background-color:#f6f4f1;line-height:1.6}nav{background-color:#212121}nav>div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:90%;margin:auto}nav .nav-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}nav .nav-item a{display:inline-block;padding:1rem;color:white;font-weight:bold;text-decoration:none}nav .nav-item a:hover{background-color:#141414}nav .nav-item a i{margin-right:5px}.quote-card{--space: 30px;padding:var(--space);background:#fff;border-radius:4px;-webkit-box-shadow:1px 1px 8px rgba(0,0,0,0.1);box-shadow:1px 1px 8px rgba(0,0,0,0.1);width:50%;margin:5rem auto}.quote-card .quote__author{font-weight:bold;font-size:medium;color:#212121;margin-bottom:var(--space)}.quote-card .quote__text{font-size:large;color:#212121}.quote-card .quote__foot{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:calc(var(--space) + 10px)}.quote-card .quote__foot .quote__new-quote{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:7;-ms-flex:7;flex:7}.quote-card .quote__foot .quote__new-quote button{padding:0.6rem 1rem;color:white;background-color:#212121;border-radius:4px;border:0;cursor:pointer}.quote-card .quote__foot .quote__new-quote button:hover{background-color:#141414}.quote-card .quote__foot .quote__new-quote button:last-of-type{margin-left:10px}.quote-card .quote__foot .quote__new-quote button:last-of-type i{margin:0}.quote-card .quote__foot .quote__new-quote button i{margin-right:5px}.quote-card .quote__foot .quote__new-quote .copy-quote{background-color:#212121}.quote-card .quote__foot .quote__new-quote .copy-quote:hover{background-color:#141414}.quote-card .quote__foot .quote__share{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly;color:#212121;font-size:1.4rem;-webkit-box-flex:3;-ms-flex:3;flex:3}.quote-card .quote__foot .quote__share i{color:white;background-color:#a1a1a1;padding:0.5rem;border-radius:4px;margin-right:15px}.quote-card .quote__foot .quote__share i:hover{background-color:#212121}.quote-card .quote__foot .quote__share i:last-of-type{margin-right:0}@media screen and (max-width: 450px){nav>div{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important;width:100% !important}nav .nav-item a{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.quote__foot{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.quote-card{width:95%}.quote__new-quote{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important;margin-top:var(--space)}.quote__share i{padding:0.8rem !important}button{padding:1rem !important}}@media screen and (min-width: 450px) and (max-width: 1024px){.quote-card{width:80%}.quote__new-quote{-webkit-box-flex:5 !important;-ms-flex:5 !important;flex:5 !important}.quote__share{-webkit-box-flex:5 !important;-ms-flex:5 !important;flex:5 !important}}
.me{
    background: url("https://raw.githubusercontent.com/susahcebok/test/master/images/me.png")no-repeat center / contain;
    width: 60px;
    height: 60px;
    bottom: 35px;
    right: 16px;
    display: block;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    animation: me 2s linear infinite alternate
}

@keyframes me{
    from{
        transform: translateY(-7px)
    }

    to{
        transform: translateY(7px)
    }
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
